/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
/*select, input, textarea, button { font:99% sans-serif; }*/

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink! */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; }

/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

/*a, a:active, a:visited { color: #607890; }*/
a:hover { color: #036; }


/**
 * Primary styles
 *
 * Author: 
 */

/*.sombra {
	-webkit-box-shadow: 3px 3px 10px #1a1a1a;
	-moz-box-shadow: 3px 3px 10px #1a1a1a;
	box-shadow: 3px 3px 10px #1a1a1a;
}

.redondeado {
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
    border-radius: 6px;
}

button {
	cursor: pointer;
}

body {
    background-color: #afafa6;
}

#container {
	position: relative;
}

header {
    height: auto;
    background-color: #afafa6;
    margin-top: 20px;
}

#head_sup {
	position: relative;
	overflow: hidden;
}

#logo {
    height: 95px;
    background-color: black;
    padding: 0 5px;
	text-align: center;
}

#logo img {
	padding: 10px 0;	
}

#direccion {
	height: 95px;
	padding-left: 5px;
	letter-spacing: 0.3px;
	position: relative;
	text-align: left;
	text-shadow: 0 1px 0 #ccc;
	font: bold 13px/20px Verdana, "Lucida Grande", Lucida, sans-serif;
}

#direccion p {
	bottom: 0;
	left: 0;
	margin: 0;
	padding: 0 5px;
	position: absolute;
	width: 545px;
}

#telefono {	
	height: 95px;
	font: bold 20px/80px Verdana, "Lucida Grande", Lucida, sans-serif;
}

menu {
	position: absolute;
	right: 10px;
}

menu ul li {
	list-style-type: none;
}

#head_inf {
	position: relative;
	height: 240px;
}

nav {
	background-color: black;
	padding: 0 5px;
	text-transform: uppercase;
}

nav ul li {
	border-top: 1px solid #9b9b9b;
	margin: 0 10px;
	text-align: right;
}

nav ul li a {
	font: bold 13px/47px Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #fff;
	text-decoration: none;
}

nav li a:hover {
	color: #afafa6;
}

#feature {
    background: #651b32 url(../img/bg_header.jpg) no-repeat -10px 10px;
    height: 240px;
    padding: 0 10px 0 5px;
    position: relative;
}

#feature p {
	color: #000;
	font: 30px/42px Impact, Arial, Helvetica, "Helvetica Neue", Geneva, sans-serif;
	position: absolute;
	top: 80px;
	left: 25px;
}

#buscador {
	position: relative;
	background: black;
	padding-right: 5px;
	height: 240px;
}

#buscador h2 {
	position: absolute;
	top: -25px;
	background-color: #000;
	color: #afafa6;
	padding: 5px 15px;
	
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 8px;
	-moz-border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	border-top-left-radius: 0px;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	z-index: 5;
}

#buscador form {
	padding: 10px 25px 10px 15px;
	color: white;
}

#buscador label {
	clear: both;
	float: left;
	height: 30px;
	width: 140px;
	font: bold 14px/30px Verdana, "Lucida Grande", Lucida, sans-serif;
}

#buscador select {
	width: 128px;
	margin-left: 12px;
}

#buscador input {
	margin-top: 15px;
	margin-bottom: 0px;
	margin-right: 0;
	margin-left: 12px;
}

#buscador input.boton {
	color: white;
	border: none;
	font: 12px/21px Verdana, "Lucida Grande", Lucida, sans-serif;
	background: #651b32 url(../img/triangulo_dcha.png) no-repeat 5px;
	right: 0px;
	padding: 2px 6px 2px 15px;
	cursor: pointer;
	position: relative;
	float: right;
	
	*bottom: 8px;
	*right: -10px;
	_bottom: 8px;
	_padding: 0px 6px 0px 15px;}

#main {
	padding-top: 15px;
	position: relative;
	overflow: hidden;
	background-color: #651b32;
	padding-bottom: 20px;
}


#main h3 {
	color: #afafa6;
	font: bold 10px Verdana, "Lucida Grande", Lucida, sans-serif;
	margin-bottom: 4px;
}


aside {
	display: none;
}

button#acceso {
	width: 180px;
	height: 26px;
	border: none;
	background-color: #afafa6;
	margin-bottom: 30px;
	text-transform: uppercase;
	font: 12px/24px Verdana, "Lucida Grande", Lucida, sans-serif;
	margin-left: 5px;
}

button#acceso a {
	text-decoration: none;
	color: black;
	font-weight: bold;
}

.banner {
	margin-bottom: 30px;
	margin-left: 5px;
}

#noticias {
	width: 180px;
	font: normal normal 10px Verdana, "Lucida Grande", Lucida, sans-serif;
}

#noticias article {
	background-color: black;
	padding: 10px;
	color: white;
	margin-bottom: 15px;
	overflow: hidden;
	
	_height: 100%;
}

#noticias h1 {
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	margin-bottom: 12px;
}

#noticias button {
	margin-top: 15px;
	border: none;
	font: 12px/21px Verdana, "Lucida Grande", Lucida, sans-serif;
	background: #651b32 url(../img/triangulo_dcha.png) no-repeat 5px;
	bottom: 10px;
	padding: 2px 6px 2px 15px;
	float: right;
	color: white;
}

#noticias button a {
	text-decoration: none;
	color: white;
}

#contenido {
	position: relative;
}

#destacado {
    position: relative;
    background: #afafa6;
	height: 370px;
	margin-bottom: 15px;
	color: black;
}

#destacado h2 {
    height: 50px;
    width: 370px;
    background-color: #000;
    color: white;
    font-size: 30px;
    position: absolute;
    top: 160px;
    left: -160px;
    display: block;
    text-transform: uppercase;

    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);

    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 0px;
    -moz-border-radius-bottomleft: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
	text-align: center;
	line-height: 50px;
}

#destacado img {
	margin-top: 10px;
	margin-left: 77px;
}

#destacado .precio {
	float: right;
	text-align: right;
}

#destacado hr {
	margin: 2px 2px 6px;
	border-top-color: black;
}

#destacado button {
	border: none;
	background-color: black;
	padding: 4px 10px;
	position: absolute;
	bottom: 12px;
	right: 28px;
	color: white;
}

#destacado button a {
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#destacado input {
	border: none;
	color: white;
	background-color: black;
	font-weight: bold;
	padding: 6px 20px;
}

#stocks {
	background: #afafa6;
	padding: 10px;
	font: 11px Verdana, "Lucida Grande", Lucida, sans-serif;
	color: #000;
	overflow: hidden;
	_height: 100%;
}

#stocks table td {
	padding: 0 4px;
}

#stocks table tr.precios td p{
	border-top: 1px solid black;
	font-weight: bold;
	text-align: right;

	padding-top: 5px;
}

#stocks table td p {
	text-align: left;
	padding: 0 5px;
}

#stocks img {
	border: 2px solid white;
}

#stocks a {
	color: black;
	text-decoration: none;
}

#stocks a:hover {
	text-decoration: underline;
}

#stocks button {
	margin-top: 15px;
	border: 1px solid white;
	font: 12px/21px Verdana, "Lucida Grande", Lucida, sans-serif;
	background: #651b32;
	bottom: 10px;
	padding: 0px 6px;
	float: right;
	color: white;
}

#stocks button a {
	text-decoration: none;
	color: white;
	font: bold 11px Verdana, "Lucida Grande", Lucida, sans-serif;
}

footer {
	overflow: hidden;
	padding-top: 15px;
	margin-bottom: 20px;
	line-height: 24px;
}

footer menu {
	position: relative;
}

footer menu ul {
	float: right;
	margin-bottom: 0;
}

footer menu ul li {
	float: left;
	margin: 0 0 0 10px;
}



 ============================================ 
 FICHA                                        
 ============================================ 

#ficha {
	position: relative;
	color: white;
	margin-bottom: 20px;
	overflow: hidden;
	margin-right: 14px;
}

#ficha h2 {
	color: white ;
	font: bold 18px Verdana, "Lucida Grande", Lucida, sans-serif;
	border-bottom: 6px solid #afafa6;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

#ficha img {
	border: 3px solid white;
	float: left;
	margin-right: 20px;
}

#ficha table {
	width: 290px;
	display: inline-block;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 3px solid #afafa6;
	font: 12px/18px Verdana, "Lucida Grande", Lucida, sans-serif;
}

#ficha table td:first-child {
	width: 110px;
}

#ficha button,
button#imprimir, button#contactar {
	height: 21px;
	border: 1px solid #bccdc9;
	padding-left: 17px;
	color: white;
	font-size: 10px;
	background: #afafa7 url(../img/triangulo_dcha.png) no-repeat 7px;
	text-align: left;
	
	*padding-right: 5px;
}

#ficha button a,
button#imprimir a, button#contactar a {
	color: white;
	font-family: Verdana, "Lucida Grande", Lucida, sans-serif;
	font-weight: bold;
	text-decoration: none;
}

#ficha button {
	width: 200px;
	display: block;
	margin-right: auto;
	margin-top: 12px;
	margin-left: auto;
}

#nav_container {
	border-top: 3px solid #afafa6;
	border-bottom: 3px solid #afafa6;
	margin-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
	
	overflow: hidden;
	height: 104px;
}

#carrusel #prev,
#carrusel #next
{
	height: 100px;
	float: left;
	padding-top: 45px;
}

#carrusel #nav_thumbs div {
	height: 100px;
	float: left;
	padding: 0 11px;
}

#carrusel #nav_thumbs img {
	border: 2px solid white;
}

#carrusel #next {
	float: right;
}

#imprimir{
	float: left;
}

#contactar {
	float: right;
	margin-right: 20px;
}*/

header {
	background: red;
}

#feature {
	background: greenyellow;
}

nav {
	background: yellow;
}

#buscador {
	background: magenta;
}
aside {
	background: red;
}


footer {
	background: lavender;
}












/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {


  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}


/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

